<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
	"classpath://org/hibernate/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.provider_class">org.hibernate.connection.TomcatJDBCConnectionProvider</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.current_session_context_class">thread</property>

		<property name="hibernate.tomcatJdbcPool.validationQuery">SELECT 1</property>
		<property name="hibernate.tomcatJdbcPool.testOnBorrow">true</property>
		<property name="show_sql">false</property>
		<mapping class="edu.mssm.pharm.maayanlab.common.database.hibernateObjects.DbUser"/>
		<mapping class="edu.mssm.pharm.maayanlab.common.database.hibernateObjects.DbList"/>
		<mapping class="edu.mssm.pharm.maayanlab.common.database.hibernateObjects.DbSharedList"/>
		<mapping class="edu.mssm.pharm.maayanlab.common.database.hibernateObjects.DbSharedGene"/>
		<mapping class="edu.mssm.pharm.maayanlab.common.database.hibernateObjects.DbSilentlySavedList"/>
		<mapping class="edu.mssm.pharm.maayanlab.common.database.hibernateObjects.DbSilentlySavedListGenes"/>
		<mapping class="edu.mssm.pharm.maayanlab.common.database.hibernateObjects.DbSilentlySavedListLibrary"/>
		<mapping class="edu.mssm.pharm.maayanlab.common.database.hibernateObjects.DbGene"/>
		<mapping class="edu.mssm.pharm.maayanlab.common.database.hibernateObjects.DbGeneSetLibrary"/>
		<mapping class="edu.mssm.pharm.maayanlab.common.database.hibernateObjects.DbLibraryCategory"/>
		<mapping class="edu.mssm.pharm.maayanlab.common.database.hibernateObjects.DbTerm"/>
		<mapping class="edu.mssm.pharm.maayanlab.common.database.hibernateObjects.DbTermGene"/>
		<mapping class="edu.mssm.pharm.maayanlab.common.database.hibernateObjects.DbLibraryStatistics"/>
		<mapping class="edu.mssm.pharm.maayanlab.common.database.hibernateObjects.DbCanvas"/>
	</session-factory>
</hibernate-configuration>
